<div>
  <form class="form-container" [formGroup]="loginForm">
    <p>Enter username or email:</p>
    <label>
      <input formControlName="email" type="text">
    </label>
    <p>Password:</p>
    <label>
      <input formControlName="password" type="text">
    </label>
    <p *ngIf="loginError">{{loginError.error}}</p>
  </form>
  <div class="buttons-container">
    <button class="login-button" (click)="login()">Log in</button>
    <button class="login-button" [routerLink]="[ '/registration' ]">Sign in</button>
  </div>
</div>
