.post-container {
  display: flex;
  flex-direction: column;
}

.spinner {
  margin: 0 auto;
}

.post-container {
  margin: 20px auto;
  border: 1px solid #C0C0C0;
  width: 500px;
  background-color: #ffff;
  border-radius: 1%;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-info-container {
  display: flex;
}

.post-owner-container {
  display: flex;
}

.post-owner-avatar {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.post-owner {
  font-weight: bold;
}

.post-description {
  margin-left: 10px;
  text-align: center;
}

.post-likes {
  margin-left: 10px;
}

.post-comments {
  display: flex;
}

.comment-owner {
  font-weight: bold;
}

.comment-body {
  margin-left: 10px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .post-container {
    width: 320px;
  }
}
