.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.post-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: 1px solid #C0C0C0;
  width: 500px;
}

.post-owner-container {
  margin-bottom: 10px;
}

.post-owner-title {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.post-image {
  object-fit: cover;
  cursor: pointer;
}

.likes-container {
  padding: initial;
  margin-bottom: initial;
}

.like-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.comment-icon {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  cursor: pointer;
}

.post-likes {
  font-weight: bold;
  margin-left: 8px;
}

.comment-likes-container {
  display: flex;
  margin-top: 17px;
}

.like-comment-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.post-info-container {
  display: flex;
  font-size: initial;
  margin: initial;
}

.post-owner {
  font-weight: bold;
  cursor: pointer;
}

.post-description {
  margin-left: 10px;
  text-align: center;
  margin-bottom: initial;
  margin-block-start: 0;
}

.post-comments {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.comment-owner {
  font-weight: bold;
  cursor: pointer;
  max-width: 100px;
  word-wrap: break-word;
}

.comment-body {
  margin-left: 10px;
  text-align: left;
  max-width: 325px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.infinite-spinner {
  margin: 50px auto;
}

@media screen and (max-width: 576px) {
  .post-container {
    width: 275px;
  }

  .comment-body {
    max-width: 135px;
  }
}
