.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.icons-container {
  width: 970px;
  display: flex;
  justify-content: space-around;
}

.nav-main-icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.icon-container {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
}

.search-input {
  align-self: center;
  margin-bottom: -10px;
}
