.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-item {
  margin: 20px;
}

.nav-profile-icon {
  width: 70px;
  height: 70px;
  cursor: pointer;
  outline: none;
}

.search-input {
  align-self: center;
}

