<div class="nav-container">
  <div class="icons-container">
    <a class="icon-container" [routerLink]="[ '' ]">
      <img src="../../../../assets/images/margatsni-small-logo.png" class="nav-main-icon" alt="margatsni">
    </a>
    <app-search class="search-input"></app-search>
    <a class="icon-container" [routerLink]="[ '/post-create' ]">
      <img src="../../../../assets/images/add-photo.png" class="nav-icon" alt="add-photo">
    </a>
    <a class="icon-container" [routerLink]="[ '/user-profile/', authorizedUser ]">
      <img src="../../../../assets/images/profile.png" class="nav-icon" alt="profile">
    </a>
  </div>
</div>
