.registration-container {
  background-color: #ffff;
  margin: 20px auto;
  border: 1px #C0C0C0 solid;
  border-radius: 1%;
}

.welcome-message {
  text-align: center;
}

.form-container {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input {
  margin: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.registration-button {
  margin: 20px;
  width: 400px;
  height: 50px;
}

.logo {
  margin: 10px auto;
  width: 200px;
}

.description {
  color: #696969;
  font-weight: 600;
  line-height: 20px;
  font-size: 18px;
  margin: 0 40px 20px;
}

.spinner {
  margin: 0 auto;
}

.question-container {
  background-color: #ffff;
  margin: 20px auto;
  border: 1px #C0C0C0 solid;
}

.question-message {
  color: #696969;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  font-size: 18px;
  margin: 10px auto;
}

@media screen and (min-width: 576px) {
  .registration-container {
    width: 550px;
  }

  .question-container {
    width: 550px;
  }

  .registration-button {
    width: 470px;
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}
