.spinner {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.title {
  text-align: center;
}

.follow-container {
  display: flex;
  justify-content: space-between;
}

.following-container {
  display: flex;
  outline: none;
  cursor: pointer;
}

.user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: cover;
}

.subscribe-button {
  margin-top: 8px;
  height: 35px;
}
