<mat-spinner class="spinner" *ngIf="spinner"></mat-spinner>

<div *ngIf="!spinner">
  <p class="title">Followers:</p>
  <div class="follow-container" *ngFor="let follower of followers">
    <div class="follower-container" (click)="closeDialog()" [routerLink]=" [ '/profile/', follower.username ]">
      <img class="user-avatar" [src]="follower.image || 'assets/images/default-avatar.png'" alt="userAvatar">
      <p>{{follower.username}}</p>
    </div>
    <button class="subscribe-button" mat-raised-button color="primary" *ngIf="!follower.followed && follower.username !== authorizedUser" (click)="subscribe(follower.id)">Subscribe</button>
    <button class="subscribe-button" mat-stroked-button *ngIf="follower.followed && follower.username !== authorizedUser" (click)="unsubscribe(follower.id)">UnSubscribe</button>
  </div>
  <p *ngIf="!followers.length">No followers</p>
</div>
