<mat-spinner class="spinner" *ngIf="spinner"></mat-spinner>

<div class="post-container" *ngIf="!spinner">
  <mat-card>
    <mat-card-header class="post-owner-container">
      <img mat-card-avatar class="post-owner-avatar" [src]="postUserImage || 'assets/images/default-avatar.png'"
           alt="userAvatar">
      <p class="post-owner-title" mat-card-title
         [routerLink]="[authorizedUser == postOwner ? '/user-profile/' : '/profile/' , postOwner ]">{{postOwner}}</p>
    </mat-card-header>

    <img mat-card-image src="{{postImage}}" alt="postImage" (dblclick)="!postLiked ? likePost(likeResourceTypePost, post.id) : dislike(likeResourceTypePost, post.id)">

    <mat-card-actions class="likes-container">
      <div>
        <img class="like-icon" src='../../../../assets/images/like-false.png' *ngIf="!postLiked"
             (click)="likePost(likeResourceTypePost, postId)" alt="like-false">
        <img class="like-icon" src='../../../../assets/images/like-true.png' *ngIf="postLiked"
             (click)="dislike(likeResourceTypePost, postId)" alt="like-true">
        <p class="post-likes">{{postLikedCount}} likes</p>
      </div>

      <div *ngIf="authorizedUser == postOwner">
        <button mat-icon-button (click)="deletePost()">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </mat-card-actions>

    <mat-card-content class="post-info-container">
      <div style="display: flex">
        <p class="post-owner"
           [routerLink]="[authorizedUser == postOwner ? '/user-profile/' : '/profile/' , postOwner ]">{{postOwner}}</p>
        <p class="post-description" *ngIf="!postEdit">{{postDescription}}</p>
        <div style="position: relative" *ngIf="authorizedUser == postOwner">
          <mat-form-field class="post-edit-description" *ngIf="postEdit">
            <label>
              <input matInput [formControl]="inputPostDescription" value="{{postDescription}}">
            </label>
          </mat-form-field>
          <button *ngIf="!postEdit" mat-icon-button (click)="postEdit = !postEdit">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="postEdit" mat-icon-button (click)="postEdit = !postEdit">
            <mat-icon>clear</mat-icon>
          </button>

          <button class="update-button"
                  *ngIf="authorizedUser == postOwner && postEdit"
                  mat-icon-button
                  (click)="updatePost()"
                  [routerLink]="[ '/user-profile/' , postOwner ]">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </div>

    </mat-card-content>

    <mat-divider style="position: initial"></mat-divider>

    <div class="load-more-comments-container">
      <button class="load-more-comments-icon" mat-icon-button *ngIf="loadButton"
              (click)="getComments(postId, pageToLoad)">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>

    <div class="post-comments" *ngFor="let comment of comments">
      <div class="post-comments-info-container">
        <p class="comment-owner"
           [routerLink]="[authorizedUser == comment.user.username ? '/user-profile/' : '/profile/' , comment.user.username ]">{{comment.user.username}}</p>
        <p class="comment-body" *ngIf="!comment.toggleForEdit">{{comment.body}}</p>

        <div *ngIf="comment.toggleForEdit">
          <mat-form-field class="edit-comment">
            <label>
              <input matInput type="text" [formControl]="inputCommentEdit" value="{{comment.body}}">
            </label>
          </mat-form-field>
        </div>
      </div>

      <div class="comments-buttons">
        <div class="comments-buttons-container">
          <div class="comments-edit-buttons">
            <button class="comment-action-icon" *ngIf="comment.toggleForEdit" mat-icon-button (click)="editComment(postId, comment.id, comment)">
              <mat-icon>check</mat-icon>
            </button>
            <button class="comment-action-icon" *ngIf="comment.toggleForEdit" mat-icon-button (click)="openEditComment(comment.id)">
              <mat-icon>clear</mat-icon>
            </button>
            <button class="comment-action-icon" mat-icon-button *ngIf="authorizedUser === comment.user.username && !comment.toggleForEdit"
                    (click)="openEditComment(comment.id)">
              <mat-icon>edit</mat-icon>
          </button>
          </div>
          <div class="comments-edit-buttons">
            <button class="comment-action-icon" mat-icon-button *ngIf="authorizedUser === comment.user.username"
                    (click)="deleteComment(postId, comment.id, comment)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="comment-likes-container">
          <img class="like-comment-icon" src='../../../../assets/images/like-false.png' *ngIf="!comment.liked"
               (click)="likeComment(likeResourceTypeComment, comment.id)" alt="like-false">
          <img class="like-comment-icon" src='../../../../assets/images/like-true.png' *ngIf="comment.liked"
               (click)="dislikeComment(likeResourceTypeComment, comment.id)" alt="like-true">
          <span class="post-likes">{{comment.likes_count}} likes</span>
        </div>
      </div>
    </div>

    <form (ngSubmit)="addComment(postId)">
      <mat-form-field style="display: block">
        <label>
          <input matInput type="text" [formControl]="addCommentForm" placeholder="Add a comment">
        </label>
      </mat-form-field>
    </form>

  </mat-card>
</div>
