.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.post-container {
  margin: 20px auto;
  border: 1px solid #C0C0C0;
  width: 500px;
  background-color: #ffff;
}

.post-owner-container {
  margin-bottom: 10px;
}

.post-owner-title {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}


.post-owner {
  font-weight: bold;
  cursor: pointer;
}

.likes-container {
  display: flex;
  justify-content: space-between;
  padding: initial;
  margin-bottom: initial;
}

.post-likes {
  font-weight: bold;
  margin-left: 8px;
}

.delete-icon {
  font-size: 30px
}

.like-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.comment-likes-container {
  display: flex;
  margin-top: 17px;
}

.like-comment-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.post-info-container {
  display: flex;
  justify-content: space-between;
  font-size: initial;
  margin: initial;
}

.post-description {
  display: block;
  margin-left: 10px;
}

.post-edit-description {
  margin-left: 10px;
  margin-top: -5px;
}

.load-more-comments-container {
  display: flex;
  justify-content: center;
}

.load-more-comments-icon {
  align-self: center;
}

.post-comments {
  display: flex;
  justify-content: space-between;
}

.post-comments-info-container {
  display: flex;
}

.update-button {
  position: absolute;
  margin-top: 3px;
}

.comment-owner {
  font-weight: bold;
  cursor: pointer;
}

.comment-body {
  margin-left: 10px;
  text-align: left;
  max-width: 245px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.edit-comment {
  width: 120px;
  margin-left: 10px;
  margin-top: -5px;
}

.comments-buttons {
  display: flex;
}

.comments-buttons-container {
  display: flex;
}

.comments-edit-buttons {
  display: flex;
}

.update-comment-icon {
  margin-top: 5px;
}

.comment-action-icon {
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .post-container {
    width: 310px;
  }

  .post-edit-description {
    width: 50px;
    margin-left: 5px;
  }

  .edit-comment {
    max-width: 75px;
    margin-left: initial;
    margin-top: -5px;
  }

  .comments-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
  }

  .comments-buttons-container {
    flex-direction: column;
  }

  .comment-body {
    margin-left: initial;
  }

  .post-comments-info-container {
    flex-direction: column;
  }
}
