<div class="profile-edit-container">
  <p class="profile-edit-username">{{username}}</p>
  <form class="profile-edit-form-container" [formGroup]="profileEditForm">
    <p>email:</p>
    <label>
      <input formControlName="email" value="{{email}}">
    </label>
    <p>username:</p>
    <label>
      <input formControlName="username" value="{{username}}">
    </label>
    <p>bio:</p>
    <label>
      <input formControlName="bio" value="{{bio}}">
    </label>
    <button (click)="updateProfileInfo()" [routerLink]="[ '/user-profile/' , userUrl ]">Submit</button>
  </form>
</div>
