.user-avatar {
  width: 100px;
}

.post-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  width: 300px;
  height: 300px;
  margin: 10px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.post-image {
  width: 100%;
  object-fit: cover;
  align-self: center;
}
