.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.user-profile-info-container {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  max-width: 970px;
}

.user-avatar-container {
  margin-right: 40px;
}

.user-username {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin-right: 10px;
}

.user-bio {
  margin-top: 25px;
  margin-bottom: initial;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.control-container {
  max-width: 500px;
}

.settings-container {
  margin-top: 20px;
  margin-bottom: 12px;
}

.settings-button {
  margin-right: 10px;
}

.subscribe-container {
  display: flex;
  margin-left: -8px;
}

.subscribe-count {
  font-weight: bold;
  vertical-align: initial;
}

.post-container {
  display: flex;
  max-width: 970px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.post {
  width: 300px;
  height: 300px;
  margin: 10px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #808080;
}

.post:hover {
  opacity: 0.5;
}

.post-image {
  width: 100%;
  object-fit: cover;
  align-self: center;
}

.infinite-spinner {
  margin: 50px auto;
}

@media screen and (max-width: 600px) {

  .control-container {
    display: flex;
    flex-direction: column;
    max-width: 150px;
  }

  .user-username {
    margin: 5px auto;
  }

  .user-avatar-container {
    margin-right: 5px;
  }

  .settings-container {
    display: flex;
    flex-direction: column;
  }

  .settings-button {
    margin-top: 5px;
  }

  .subscribe-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 966px) {
  .post-container {
    justify-content: center;
  }
}
