<mat-spinner class="spinner" *ngIf="spinner"></mat-spinner>

<div class="profile-container" *ngIf="!spinner">

  <div class="profile-info-container">
    <div class="user-info">
      <img *ngIf="!errorMessage" class="user-avatar" src="{{userAvatar}}" alt="userAvatar">
      <div class="info-container">
        <p class="user-username">{{username}}</p>
        <p class="user-bio">{{bio}}</p>
      </div>
    </div>

    <div *ngIf="!errorMessage">
      <div class="subscribe-buttons-container">
        <button mat-stroked-button *ngIf="subscribeStatus" (click)="subscribe(userId)">Subscribe</button>
        <button mat-stroked-button *ngIf="!subscribeStatus" (click)="unsubscribe(userId)">UnSubscribe</button>
      </div>

      <div class="subscribe-container">
        <div class="subscribe-container">
          <button mat-button (click)="openFollowers()">
            <a style="vertical-align: initial" class="subscribe-count">{{followersCount}}</a>
            Followers
          </button>
        </div>

        <div class="subscribe-container">
          <button mat-button (click)="openFollowing()">
            <a style="vertical-align: initial" class="subscribe-count">{{followingCount}}</a>
            Following
          </button>
        </div>
      </div>
    </div>
  </div>

  <mat-error class="error-message" *ngIf="errorMessage">{{errorMessage}}</mat-error>

  <div class="post-container">
    <div class="post"
         [ngStyle]="{'background-image': 'url(' + post.image + ')'}"
         [routerLink]="[ '/post-review/', post.id ]"
         *ngFor="let post of posts">
    </div>
  </div>

  <mat-spinner class="infinite-spinner" *ngIf="infiniteSpinner" [diameter]="40"></mat-spinner>

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    [infiniteScrollDisabled]="infiniteScroll"
    (scrolled)="onScroll()">
  </div>
</div>
